@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container {
    @apply w-full max-w-[1200px] mx-auto px-32;
  }
}

html,
body,
:root {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
